body{
    background-color: rgb(255, 255, 255); 
    scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
    margin: 0%;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings:normal;
}

div{
    display:inline-block;
    unicode-bidi: isolate; 
    margin: 0%;
}
p{
    margin:0px
}

#main-wrapper{
    height: 100vh;
    max-width: 80%;
    outline: transparent;
    display: flex;
    justify-content: center;
}

#left{
    display: block;
    height: 678px;
    max-width: 230px;
    min-width: 230px;
    padding-left: 8px;
    padding-right: 8px;
    outline: 1px transparent;
    border-bottom: 0px;
    position:fixed;
    left: 7.8vw;
    top: 0.3vh;
}
#left-wrapper{
    display: flex;
    flex-direction: row;
}
.left-outside{
    display: flex;
    width: 50px;
    height: 50px;
    padding:0.11vh;
}
.left-back{
    border-radius: 9999px;
    width: 50px;
    height: 50px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}
.left-back:hover{
    background-color: rgb(231, 231, 232);
}
#leftpost{
    padding-top: 2.4vh;
}
#leftpfpout{
    padding-top: 3vh;
    position: absolute;
    right: 15.2vw;
}
#leftpfpback{
    min-width: 64px;
    height: 64px;
}
#leftpfp{
    border-radius: 9999px;
    background-color: black;
    display: flex;
}



#middle{
    height: 1000px;
    max-width: 30vw;
    min-width: 30vw;
    border-left: 1px solid rgb(238,243,244);
    border-right: 1px solid rgb(238,243,244);
    display: inline-flex;
    align-content: center;
    position: absolute;
    left: 14.1vw;
}

#upfixed-wrapper{
    position: fixed;
    top: 0px;
    height: 120px;
    max-width: 30vw;
    min-width: 30vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-bottom: 1px solid rgb(238,243,244);
}


#upfixed-blue{
    background-color: rgb(29, 155, 240);
    width:69.0312px;
    height:4px;
    border-top-left-radius:9999px;
    border-top-right-radius:9999px;
    border-bottom-left-radius:9999px;
    border-bottom-right-radius:9999px;
    position: fixed;
    top: 48.5px;
    left: 23.29vw;
    display:block;
}

.upfixed{
    position: fixed;
    top: 0px;
    height: 53px;
    width: 20.97vw;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238,243,244);
}
#upfixed-head{
    position: absolute;
    left: 16px;
}
.upfixed:hover{
    background-color: rgb(232,232,233);
}
.upfixed p{
    margin: 16px;
}
#For-you{
    align-items: center;
    
    display: block;
    font-size:15px;
    font-weight:700;
    color:rgb(15, 20, 25)
}

#Following{
    align-items: center;
    position: fixed;
    top: 0px;
    left: 37.66vw;
    display:block;
    font-kerning:auto;
    font-optical-sizing:auto;
    font-size: 15px;
    font-weight: 500;
    color: rgb(83, 100, 113);
}

#search-tweet{
    position: absolute;
    top: 35vh;
    left: 35vw;
}


/* NEW TWEET */
#new-tweet-wrapper{
    height: 104px;
    max-width: 44.5vw;
    min-width: 44.5vw;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: 1px solid rgb(238,243,244);
    position: absolute;
    top: 53px;
    display: flex;
}

#new-tweet-box{
    width: 40vw;
    position: absolute;
    left: 5vw;
    top: 3.5vh;
    border: 0px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Chirp", Arial, Helvetica, sans-serif;
    display: flex;
}

#new-tweet-box:focus{
    border: 0px;
    outline: 0px;
}

.new-tweet-outside{
    height: 34px;
    width: 34px;
    padding-top: 20px;
}
.new-tweet-back{
    height: 34px;
    width: 34px;
    border-radius: 9999px;
    align-items: center;
    align-content: normal;
    display: flex;
    justify-content: center;
}
.new-tweet-back:hover{
    background-color: rgb(235,245,254);
}
#new-tweet-outside-one{
    padding-left: 45px;
}
#new-tweet-outside-seven:hover{
    background-color: rgb(255, 255, 255);
}
.new-tweet-inside{
    width: 20px;
}

#post-wrapper{
    height:36px;
    width: 520px;
    border-top: 1px solid rgb(238,243,244);
    position: sticky;
    bottom: 56px;
    position: absolute;
    top: 104.66px;
    left: 20px;
}
#post-button{
    position: absolute;
    left: 40.4vw;
    top: 75px;
}

/* TWEET */
#all-tweets{
    position:absolute;
    top: 174px;
}

.tweet{
    display: flex;
    border-bottom: 1px solid rgb(238,243,244);
    max-width: 44.5vw;
    min-width: 44.5vw;
    padding: 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 0px;
}
.tweet:hover{
    background-color: rgb(232,232,233);
}
.pfp{
    border-radius: 9999px;
    border: 1px solid rgb(238,243,244);
    height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    background-color: black;
    display: flex;
    margin-right: 8px;
}
.name{
    font-size: 15px;
    font-weight: 700;
    color: rgb(15, 20, 25);
}
.name:hover{
    text-decoration: underline;
}
.username{
    font-size: 15px;
    font-weight: 400;
    color: rgb(83, 100, 113);
}
.content{
    font-size: 15px;
    font-weight: 400;
    color:rgb(15, 20, 25);
    max-width: 41.3vw;
}



.right{
    position: relative;
    align-items: center;
    height: 100%;
    max-width:600px;
    min-width: 600px;
    display: block;
}
/* #right{
    height: 1000px;
    width: 53px;
} */

#search{
    font-size:15px;
    height:44px;
    width: 28vw;
    border-color:rgb(207, 217, 222);
    border-style:solid;
    border-width: 1px;
    border-top-left-radius:9999px;
    border-top-right-radius:9999px;
    border-bottom-left-radius:9999px;
    border-bottom-right-radius:9999px;
    box-sizing:border-box;
    margin-bottom: 12px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 60px;
    left: 15.3vw;
}
#megame{
    position: fixed;
    top: 74px;
    left: 16.2vw;
}

#search-box{
    border-style: inset;
    border-color: rgb(118, 118, 118);
    margin: 0em 0em 0em 0em;
    width: 297px;
    height: 40px;
    padding-left: 4px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 400;
    border: 0px;
    background-color: rgb(255, 255, 255);
    box-sizing:border-box;
    caption-side:top;
    caret-color:rgb(29, 155, 240);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 62px;
    left: 17.5vw;
}

#search-box:focus{
    outline: none;
    border: 0px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 6.5px;
    left: 845px;
    box-sizing:border-box;
    caption-side:top;
    caret-color:rgb(29, 155, 240);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

style{
    overflow-y: scroll;
    overscroll-behavior-y: none;
    font-size: 15px;
    color-scheme: light;
}
#news{
    position: absolute;
    top: 65px;
    left:38vw;
}