body{
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}
p{
    background-color: blueviolet;
}
.box{
    background-color: coral;
    padding:10px;
    /* padding相当于拓展了div的box占据面积 */
    margin-bottom: 5px;
}

#two{
    border:2px black dashed;
}

#three{
    padding:30px;
}

#three p{
    background-color: aquamarine;
}

#two p{
    display: inline;
}

#four p{
    display: inline;
}

#five{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.column{
    width: 28%;
    height: 50px;
    display: inline-block;
    background-color: aliceblue;
}

#vhvwtest{
    background-color: beige;
    width: 10vw;
    height: 10vh;
}

.column:hover{
    background-color: cadetblue;
}

p:hover{
    font-weight: bold;
}