body {
    background-color: rgb(163, 201, 255);
    height: 100vh;
    width: 100vw;
}

#backgroundOne {
    width: 100vw;
    height: 2000vh;
}

.trunk{
    height: 90vh;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.hanaOne {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(253, 231, 240);
    position: fixed;
}

.hanaTwo {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 199, 218);
    position: fixed;
}

.hanaThree {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 148, 184);
    position: fixed;
}

/* summer */
.hanaFour {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(178, 254, 146);
    position: fixed;
}

.hanaFive {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(120, 215, 101);
    position: fixed;
}

.hanaSix {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(70, 172, 74);
    position: fixed;
}


#hanaWrapper div {
    border: 1.4px solid white
}

#hanaWrapperBack div {
    /* opacity: 0.6; */
    border: 1.8px solid rgb(239, 239, 239);
}

@keyframes hanaMove {
    from {
        /* transform: translateY(0) translateX(0); */
        opacity: 1;
    }to {
        /* transform: translateY(200px) translateX(-100px); */
        opacity: 0;
    }
}