.container{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    align-items: center;
}

.item{
    display: flex;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}

.nav-section{
    background-color: blue;
}
.nav-section p{
    display: inline;
    font-size: 30px;
    margin: 20px;
}