body {
    background-color: rgb(208, 231, 255);
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-items: center;
    justify-content: center;
}

.background {
    width: 100%;
}

#backgroundWinter {
    background-color: rgb(212, 226, 229);
    opacity: 0;
}

#TreeWrapper {
    position: fixed;
    /* outline: red 1px solid; */
    right: 0px;
    bottom: 0px;
    height: 100%;
    aspect-ratio: 1842/ 1380;
    /* height: ; */
}

#petalBack, #petalFront {
    position: absolute;
    left: 0px;
    top: 0px;
}


.trunk {
    width: 100%;
    /* height: 90vh; */
    position: absolute;
    top: 0px;
    left: 0px;
}


/* Autumn */
.hanaAutumn{
    border: .97px solid rgb(249, 187, 130);
    /* border: .95px solid rgb(215, 110, 110); */
}

.hanaOne {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 223, 202);
    position: absolute;
}

.hanaTwo {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(249, 170, 110);
    position: absolute;
}

.hanaThree {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(215, 107, 49);
    position: absolute;
}

#trunkWinter {
    opacity: 0;
}

#hanaWrapperBack .hanaAutumn {
    opacity: 0.5;
}


#wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    justify-content: center;
    justify-items: center;
}

.ink {
    display: block;
    position: fixed;
    bottom: 0;
}
#inkOne {
    height: 72%;
}
#inkTwo {
    height: 50%;
}
#inkThree {
    height: 30%;
}

#hintWrapper {
    /* position: fixed; */
    /* bottom: 0; */
    max-width: 100%;
    min-width: 100%;
    /* max-height: 100%;
    min-height: 100%; */
    justify-content: center;
    justify-items: center;
}


/* #humanWapper{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
} */

.human {
    display: block;
    position: fixed;
    bottom: 0;
    height: 68%;
}

#AutumnTwo {
    opacity: 0;
}



.lines {
    margin: 0;
    position: fixed;
    bottom: 8%;
    max-width: 90vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
}

.sen {
    background-color: black;
}

.me {
    background-color: rgb(90, 90, 90);
}





.building {
    position: fixed;
    bottom: -5%;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
}

#buildingOne{
    opacity: 1;
}

.paper{
    position: fixed;
    bottom: -5%;
    width: 36.5%;
    display: block;
    opacity: 0;
}