body {
    background-color: rgb(208, 231, 255);
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-items: center;
    justify-content: center;
}

.background {
    width: 100%;
    height: 1400vh;
}

#backgroundSummer {
    background-color: rgb(114, 170, 248);
    opacity: 0;
}

#TreeWrapper {
    position: fixed;
    /* outline: red 1px solid; */
    right: 0px;
    bottom: 0px;
    height: 100%;
    aspect-ratio: 1842/ 1380;
    /* height: ; */
}

#petalBack, #petalFront {
    position: absolute;
    left: 0px;
    top: 0px;
}


.trunk {
    width: 100%;
    /* height: 90vh; */
    position: absolute;
    top: 0px;
    left: 0px;
}


/* spring */
.hanaSpring{
    border: .97px solid rgb(247, 167, 194);
    /* border: .95px solid rgb(215, 110, 110); */
}

.hanaOne {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(253, 231, 240);
    position: absolute;
}

.hanaTwo {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 199, 218);
    position: absolute;
}

.hanaThree {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 148, 184);
    position: absolute;
}

/* summer */
.hanaSummer {
    opacity: 0;
    border: .97px solid rgb(133, 212, 87);
    /* border: 1.5px solid white; */
}

.hanaFour {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(178, 254, 146);
    position: absolute;
}

.hanaFive {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(120, 215, 101);
    position: absolute;
}

.hanaSix {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(70, 172, 74);
    position: absolute;
}

#trunkSummer {
    opacity: 0;
}

#hanaWrapperBack .hanaSpring {
    opacity: 0.5;
}






/* #humanWapper{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
} */

.human {
    display: block;
    position: fixed;
    bottom: 0;
    height: 68%;
    opacity: 0;
}





.lines {
    margin: 0;
    position: fixed;
    bottom: 8%;
    max-width: 90vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
}

.sen {
    background-color: black;
}

.me {
    background-color: rgb(90, 90, 90);
}





.building {
    position: fixed;
    bottom: -5%;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
}

#buildingOne{
    opacity: 1;
}

.paper{
    position: fixed;
    bottom: -5%;
    width: 36.5%;
    display: block;
    opacity: 0;
}