body {
    background-color: rgb(212, 226, 229);
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-items: center;
    justify-content: center;
    display: block;
}

.background {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 900vh;
}

#backgroundSpring {
    background-color: rgb(166, 203, 255);
    opacity: 0;
}

#backgroundAutumn {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(208, 231, 255);
    height: 100vh;
    width: 100%;
    opacity: 0;
}


p {
    display: block;
}

#TreeWrapper {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100%;
    aspect-ratio: 1842/ 1380;
}

#petalBack,
#petalFront {
    position: absolute;
    left: 0px;
    top: 0px;
}


.trunk {
    width: 100%;
    /* height: 90vh; */
    position: absolute;
    top: 0px;
    left: 0px;
}


.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    justify-content: center;
    justify-items: center;
}

.monitor {
    display: block;
    position: fixed;
    height: 70%;
    /* width: 50.5%; */
    bottom: 5%;
    opacity: 0;
}


/* spring */
.hanaSummer {
    border: .97px solid rgb(247, 167, 194);
    opacity: 0;
}

.hanaFour {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(253, 231, 240);
    position: absolute;
}

.hanaFive {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 199, 218);
    position: absolute;
}

.hanaSix {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 148, 184);
    position: absolute;
}


.hanaAutumn {
    border: .97px solid rgb(249, 187, 130);
    /* border: .95px solid rgb(215, 110, 110); */
}

.hanaOne {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 223, 202);
    position: absolute;
}

.hanaTwo {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(249, 170, 110);
    position: absolute;
}

.hanaThree {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(215, 107, 49);
    position: absolute;
}


#hanaWrapperBack .hanaSpring {
    opacity: 0.5;
}


#Goverflow {
    opacity: 0;
    /* background-color: black; */
    position: fixed;
    display: inline-block;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    width: 8.5%;
    transform: skew(8deg, 0deg);
    margin-left: -4.25%;
}

#GWrapper {
    margin-left: 213.5%;
    opacity: 1;
    width: 850%;
    height: 100%;
    position: fixed;
    bottom: 0;
    transform: skew(-8deg, 0deg);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.human {
    display: block;
    position: fixed;
    bottom: 0;
    height: 68%;
    opacity: 0;
}

.humanFinal {
    display: block;
    position: fixed;
    bottom: 0;
    height: 48%;
    opacity: 0;
}




.lines {
    margin: 0;
    display: block;
    position: fixed;
    bottom: 8%;
    max-width: 90vw;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    font-weight: 600;
    opacity: 0;
}

.sen {
    background-color: rgba(0, 0, 0, 0.72);
}

.me {
    background-color: rgb(90, 90, 90, 0.84);
}





.building {
    position: fixed;
    bottom: -5%;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
}

#buildingOne {
    opacity: 1;
}

.paper {
    position: fixed;
    bottom: -5%;
    width: 36.5%;
    display: block;
    opacity: 0;
}






#brooch {
    display: block;
    position: fixed;
    height: 20%;
}