body {
    background-color: rgb(163, 201, 255);
    height: 100vh;
    width: 100vw;
}


.hanaOne {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 205, 239);
    position: fixed;
}

.hanaTwo {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(255, 170, 198);
    position: fixed;
}

.hanaThree {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(241, 125, 163);
    position: fixed;
}

#hanaWrapperBack div{
    opacity: 0.6;
}