body {
    background-color: rgb(181, 215, 222);
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-items: center;
    justify-content: center;
}

.background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
#backgroundAutumn {
    opacity: 1;
    background-color: rgb(255, 206, 187);
}
#backgroundGray {
    opacity: 0;
    background-color: gray;
}


.hair {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.doorButton {
    height: 5.5%;
    position: fixed;
    bottom: 19.5%;
    right: 28%;
}

#doorButtonOne {
    opacity: .7;
}
#doorButtonTwo {
    opacity: 1 
}
#doorButtonThree {
    opacity: 0;
}

.monitor, .Bmonitor{
    display: block;
    position: fixed;
    height: 70%;
    /* width: 50.5%; */
    top: 15%;
    opacity: 0;
}
#BMonitorFirst{
    opacity: 1;
}

#Goverflow {
    opacity: 0;
    /* background-color: black; */
    position: fixed;
    display: inline-block;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    width: 25%;
    transform: skew(8deg,0deg);
    margin-left: -12.5%;
}
#GWrapper {
    margin-left: 50%;
    opacity: 1;
    width: 400%;
    height: 100%;
    position: fixed;
    bottom: 0;    
    transform: skew(-8deg,0deg);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}




#door {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
}


.bubbleShadow {
    position: fixed;
    display: block;
    opacity: 0;
    scale: 1.8;
}

.bubble {
    position: fixed;
    display: block;
    opacity: .6;
    scale: .9;
}

#bubbleOne, #bubbleShadowOne{
    top: 1%;
    left: 15%;
    height: 35%;
}

#bubbleTwo, #bubbleShadowTwo {
    top: 25%;
    right: 5%;
    height: 25%;
}

#bubbleThree, #bubbleShadowThree {
    bottom: 25%;
    right: 20%;
    height: 20%;
}

#bubbleFour, #bubbleShadowFour {
    top: 30%;
    left: 3%;
    height: 25%;
}

#bubbleFive, #bubbleShadowFive {
    bottom: 18%;
    left: 25%;
    height: 18%;
}

#bubbleSix, #bubbleShadowSix {
    bottom: 18%;
    right: -3%;
    height: 30%;
}

#bubbleSeven, #bubbleShadowSeven {
    bottom: 4%;
    left: -5%;
    height: 40%;
}

#bubbleEight, #bubbleShadowEight {
    top: -2%;
    right: -2%;
    height: 25%;
}

#bubbleNine, #bubbleShadowNine {
    top: -5%;
    right: 25%;
    height: 25%;
}

#bubbleTen, #bubbleShadowTen {
    top: -8%;
    left: -5%;
    height: 35%;
}

#bubbleEleven, #bubbleShadowEleven {
    bottom: -18%;
    right: -7%;
    height: 50%;
}




.lines {
    margin: 0;
    display: block;
    position: fixed;
    bottom: 8%;
    max-width: 90vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    font-weight: 600;
    opacity: 0;
}
#lineZero {
    opacity: 1;
}


.sen {
    background-color: black;
}

.me {
    background-color: rgb(90, 90, 90);
}