

.minute{
    width: 8px;
    height: 8px;
    position: fixed
}

.sparkle{
    width: 14px;
    height: 14px;
}



/* 
还是网站的问题吗？text只是一个选择？
只是说说？？ 真的假的？你给分啊？！
linear的定义是走马观花，如果有停留和interaction就还好？
台词式text接受
*/
